<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=unipertest;AccountKey=aM9MW1mxInlwS9ILsorAMOrm9JPhFis9Ax7GbA7SvY0kBBK3+6Q/gcdgCABw/AMLgyPRi2RjNbvIgtiM61GkJg==" />
  </appSettings>
</configuration>

